{% extends 'base.html' %}
{% block title%}
Ende
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-12 text-center">
        <h1 class="font-weight-light">Ende</h1>
        <p class="lead">Vielen Dank für ihre Teilnahme.</p>
        <p>
            Ihre tatsächliche Aufwandsentschädigung beläuft sich auf <b>5€</b> und ist 
            unabhängig von Ihrer erreichten Punktzahl.
        </p>
        <p>
            Um Ihre Auszahlung  zu erhalten, schicken Sie bitte eine E-Mail mit dem 
            Betreff <b>"Experiment abgeschlossen"</b> an die folgende E-Mail-Adresse. Dort 
            können Sie auch die Löschung Ihrer Daten unter Nennung ihres 
            Versuchspersonen-Codes erfragen als auch eine inhaltliche Zusammenfassung 
            bezüglich der Ziele dieser Forschung erhalten.
            <br/>
            <h2>tumer_t@hotmail.de</h2>
        </p>
        <br/>
    </div>
</div>

{% endblock %}
